.homepage-heading {
  padding: 10px;
}

.homepage-icon {
  padding-left: 50px;
  padding-right: 50px;
}


nav a, nav span, nav p {
  color: white;
  padding: 10px;

}

nav a:hover {
  color: FireBrick;
  text-decoration: none;
}

nav {
  background-color: #222529;
}

.Modal{
  margin-top: 500px;
}

.profile-box{
  border-style: solid;
  border-width: 3px;
  padding: 10px;
}

.Alert {
  width: 510px;
}

.form_border {
  border-style: solid;
  border-width: 1px;
  padding: 10px;
}



.NavBar {
  margin-bottom: 50px;
}

.addQuiz {
  width: 100;
  margin-bottom: 2px
}


li.userSummary {
  display: flex;
  flex-direction: row;
}

li.userSummary.header {
  font-weight: bold;
}

li.userSummary > div {
  width: 25%;

}
